<div class="container" id="contenedorPrincipal" style="padding-left: 0px;margin-left: 0px;width: 130%;padding-right: 0px;padding-top: 0px;margin-top: 0px;margin-right: -1px;max-width: 100%;">
        <div class="row" style="width: 100%;height: 110px;">
            <div class="col-3 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1" style="width: 100.5px;padding-right: 0px;padding-left: 0px;background: #484850;"><img width="95" height="99" src="assets/img/RRHH%20App.png" style="width: 100%;"></div>
            <div class="col" id="tituloPagina" style="padding-left: 0px;background: #484850;padding-right: 0px;margin-right: 0px;width: 120%;">
                <h1 id="tituloCandidatos"><span style="color: rgb(255, 255, 255);">CANDIDATOS</span></h1>
            </div>
        </div>
        <div class="row" style="padding-bottom: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;width: 100%;height: 100%;">
            <div class="col-3 col-sm-2 col-md-1 col-lg-1 col-xl-1 col-xxl-1 offset-lg-0" id="barraMenu" style="background: #484850;border-style: none;color: rgb(255,255,255);padding: 0px;height: 100%;min-height: 100%;max-height: 100%;margin-bottom: 0px;padding-bottom: 0px;width: 100.5px;">
                <div><a id="botonSalir" href="menuPrincipal.html" style="width: auto;color: rgb(255,255,255);"><i class="typcn typcn-arrow-back" style="font-size: 93px;padding-left: 0px;"></i></a></div>
                <div id="logo" style="background: rgba(255,255,255,0);height: auto;width: 100%;">
                    <div id="iconoPerfil" style="padding-left: 6px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" id="perfilCorbata" style="font-size: 49px;">
                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path d="M352 128C352 198.7 294.7 256 224 256C153.3 256 96 198.7 96 128C96 57.31 153.3 0 224 0C294.7 0 352 57.31 352 128zM209.1 359.2L176 304H272L238.9 359.2L272.2 483.1L311.7 321.9C388.9 333.9 448 400.7 448 481.3C448 498.2 434.2 512 417.3 512H30.72C13.75 512 0 498.2 0 481.3C0 400.7 59.09 333.9 136.3 321.9L175.8 483.1L209.1 359.2z"></path>
                        </svg><button class="btn btn-primary" id="botonPerfil" type="button" style="width: 90%;height: 30px;font-size: 12px;">Perfil</button><button class="btn btn-primary" id="botonSalir" type="button" style="width: 90%;height: 30px;font-size: 12px;"><a id="linkSalir" href="login.html" rel="prev" style="color: var(--bs-btn-color);text-decoration: underline;">Salir</a></button></div>
                </div>
            </div>
            <div class="col-7 col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xxl-11 offset-lg-3" id="ColumnaPrincipal" style="margin-left: 0px;padding-left: 0px;padding-right: 0px;margin-right: 0px;padding-bottom: 0px;margin-bottom: 0px;">
                <div class="container" id="menuHerramientas" style="height: 500px;margin-top: 100px;">
                    <div class="row" id="fila1" style="width: 100%;">
                        <div class="col-4" id="colHojasDeVida" style="margin-right: 0px;"><a href="/ListaCandidatos" style="color: #ffffff;background: rgba(0,74,124,0);width: 180px;height: auto;border-style: none;border-color: rgba(255,255,255,0);text-decoration: none;text-align: center;">
                                <div class="botonMenus" style="width: 180px;height: 180px;background: #004a7c;border-radius: 10px;padding-bottom: 0px;margin-bottom: 17px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-lines-fill" style="font-size: 124px;padding-right: 0px;margin-right: 11px;padding-left: 24px;padding-top: 16px;margin-top: 14px;padding-bottom: 0px;margin-bottom: -8px;">
                                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"></path>
                                    </svg>
                                    <p>Hojas de vida</p>
                                </div>
                            </a></div>
                        <div class="col" id="colVacantes"><a href="/vacantes" style="color: #ffffff;background: rgba(0,74,124,0);width: 180px;height: auto;border-style: none;border-color: rgba(255,255,255,0);text-decoration: none;text-align: center;">
                                <div class="botonMenus" style="width: 180px;height: 180px;background: #004a7c;border-radius: 10px;padding-bottom: 0px;margin-bottom: 17px;">
                                    <p><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-briefcase-fill" style="font-size: 110px;padding-bottom: 3px;margin-bottom: -9px;margin-top: 32px;">
                                            <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"></path>
                                            <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"></path>
                                        </svg>&nbsp;Vacantes&nbsp;</p>
                                </div>
                            </a></div>
                        <div class="col" id="colPruebas" style="padding-top: 0px;"><a href="" style="color: #ffffff;background: rgba(0,74,124,0);width: 180px;height: auto;border-style: none;border-color: rgba(255,255,255,0);text-decoration: none;text-align: center;">
                                <div class="botonMenus" style="width: 180px;height: 180px;background: #004a7c;border-radius: 10px;padding-bottom: 0px;margin-bottom: 17px;">
                                    <p><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-clipboard-check" style="font-size: 124px;padding-right: 0px;padding-bottom: 0px;padding-top: 27px;margin-right: 20px;margin-top: 2px;margin-bottom: 3px;margin-left: 22px;">
                                            <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
                                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path>
                                        </svg><em>&nbsp;&nbsp;</em>Pruebas Psicotécnicas</p>
                                </div>
                            </a></div>
                    </div>
                    <div class="row" id="fila2" style="width: 100%;">
                        <div class="col" id="conAntecendentes"><a href="" style="color: #ffffff;background: rgba(0,74,124,0);width: 180px;height: auto;border-style: none;border-color: rgba(255,255,255,0);text-decoration: none;text-align: center;">
                                <div class="botonMenus" style="width: 180px;height: 180px;background: #004a7c;border-radius: 10px;padding-bottom: 0px;margin-bottom: 17px;">
                                    <p><i class="material-icons" style="font-size: 102px;padding-top: 0px;padding-bottom: 21px;margin-top: 19px;margin-right: 0px;margin-bottom: -18px;margin-left: 9px;">gavel</i>&nbsp; &nbsp; Antecedentes&nbsp; &nbsp; Judiciales</p>
                                </div>
                            </a></div>
                        <div class="col" id="colExamanesMed"><a href="" style="color: #ffffff;background: rgba(0,74,124,0);width: 180px;height: auto;border-style: none;border-color: rgba(255,255,255,0);text-decoration: none;text-align: center;">
                                <div class="botonMenus" style="width: 180px;height: 180px;background: #004a7c;border-radius: 10px;padding-bottom: 0px;margin-bottom: 17px;">
                                    <p><i class="fas fa-file-medical" style="font-size: 99px;margin-top: 37px;margin-left: 32px;"></i>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Exámenes médicos</p>
                                </div>
                            </a></div>
                        <div class="col" id="colContratacion"><a href="" style="color: #ffffff;background: rgba(0,74,124,0);width: 180px;height: auto;border-style: none;border-color: rgba(255,255,255,0);text-decoration: none;text-align: center;">
                                <div class="botonMenus" style="width: 180px;height: 180px;background: #004a7c;border-radius: 10px;padding-bottom: 0px;margin-bottom: 17px;">
                                    <p><i class="fas fa-file-contract" style="font-size: 113px;padding-top: 0px;margin-top: 20px;padding-bottom: 10px;margin-bottom: -10px;"></i>&nbsp; Contratación</p>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>