<div class="container" id="contenedorPrincipal" style="padding-left: 0px;margin-left: 0px;width: 130%;padding-right: 0px;padding-top: 0px;margin-top: 0px;margin-right: -1px;max-width: 100%;">
        <div class="row" style="width: 100%;height: 110px;">
            <div class="col-3 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1" style="width: 100.5px;padding-right: 0px;padding-left: 0px;background: #484850;"><img width="95" height="99" src="assets/img/RRHH%20App.png" style="width: 100%;"></div>
            <div class="col" id="tituloPagina" style="padding-left: 0px;background: #484850;padding-right: 0px;margin-right: 0px;width: 120%;">
                <h1 id="tituloCandidatos"><span style="color: rgb(255, 255, 255);">NUEVA HOJA DE VIDA&nbsp;</span></h1>
            </div>
        </div>
        <div class="row" style="padding-bottom: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;width: 100%;height: 100%;">
            <div class="col-3 col-sm-2 col-md-1 col-lg-1 col-xl-1 col-xxl-1 offset-lg-0" id="barraMenu" style="background: #484850;border-style: none;color: rgb(255,255,255);padding: 0px;height: 100%;min-height: 100%;max-height: 100%;margin-bottom: 0px;padding-bottom: 0px;width: 100.5px;">
                <div><a id="botonSalir-1" href="listaHojasVidaCandidato.html" style="width: auto;color: rgb(255,255,255);"><i class="typcn typcn-arrow-back" style="font-size: 93px;padding-left: 0px;"></i></a></div>
                <div id="logo" style="background: rgba(255,255,255,0);height: auto;width: 100%;">
                    <div id="iconoPerfil" style="padding-left: 6px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" id="perfilCorbata" style="font-size: 49px;">
                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path d="M352 128C352 198.7 294.7 256 224 256C153.3 256 96 198.7 96 128C96 57.31 153.3 0 224 0C294.7 0 352 57.31 352 128zM209.1 359.2L176 304H272L238.9 359.2L272.2 483.1L311.7 321.9C388.9 333.9 448 400.7 448 481.3C448 498.2 434.2 512 417.3 512H30.72C13.75 512 0 498.2 0 481.3C0 400.7 59.09 333.9 136.3 321.9L175.8 483.1L209.1 359.2z"></path>
                        </svg><button class="btn btn-primary" id="botonPerfil" type="button" style="width: 90%;height: 30px;font-size: 12px;">Perfil</button><button class="btn btn-primary" id="botonSalir-2" type="button" style="width: 90%;height: 30px;font-size: 12px;"><a id="linkSalir" href="login.html" rel="prev" style="color: var(--bs-btn-color);text-decoration: underline;">Salir</a></button></div>
                </div>
            </div>
            <div class="col-7 col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xxl-11 offset-lg-3" id="ColumnaPrincipal" style="margin-left: 0px;padding-left: 0px;padding-right: 0px;margin-right: 0px;padding-bottom: 0px;margin-bottom: 0px;">
                <form style="margin-top: 61px;" method="post" action="/NuevoCandidato">
                    <div class="card" style="padding-left: 22px;margin-left: 19px;">
                        <div class="card-body" style="padding-left: 0px;margin-left: 10px;padding-right: 0px;margin-right: 10px;">
                            <h2 class="card-title"><strong>Nuevo candidato</strong></h2>
                            <h6><span style="color: rgb(1, 120, 239);">Complete los campos requeridos*</span></h6>
                            <div class="row" id="fila1">
                                <div class="col" id="colNombre">
                                    <div><label class="form-label"><strong>Nombre completo: *</strong></label><input class="form-control" type="text" placeholder="Nombre completo" required="" name="nombre"></div>
                                </div>
                                <div class="col" id="colCorreo">
                                    <div><label class="form-label"><strong>Correo Electrónico *</strong></label><input class="form-control" type="text" placeholder="Correo Electrónico" required="" name="correo"></div>
                                </div>
                                <div class="col" id="colDireccion">
                                    <div><label class="form-label"><strong>Dirección: *</strong></label><input class="form-control" type="text" placeholder="Dirección" required="" name="direccion"></div>
                                </div>
                            </div>
                            <div class="row" id="fila2">
                                <div class="col" id="colDocumento">
                                    <div><label class="form-label"><strong>Documento: *</strong></label><input class="form-control" type="text" placeholder="Documento de identidad" required="" name="documento"></div>
                                </div>
                                <div class="col" id="colTelefono">
                                    <div><label class="form-label"><strong>Telefono: *</strong></label><input class="form-control" type="text" placeholder="Telefono" required="" name="telefono"></div>
                                </div>
                                <div class="col" id="colVacante">
                                    <div><label class="form-label"><strong>Vacante a la que aspira *</strong></label><select class="form-select" name="Vacante">
                                            <option value= "1" selected= "">Vacante1</option>
                                            <option value= "2">Vacante2</option>
                                            <option value= "3">Vacante3</option>
                                        </select></div>
                                </div>
                            </div>
                            <div class="row" id="fila3">
                                <div class="col" id="colCedula">
                                    <div><label class="form-label"><strong>Copia de la cedula(.pdf): *</strong></label><input class="form-control" type="file" style="background: rgb(216,235,253);" required="" name="copia_cedula"></div>
                                </div>
                                <div class="col" id="colCV">
                                    <div><label class="form-label"><strong>Hoja de vida CV(.pdf) *</strong></label><input class="form-control" type="file" style="background: rgb(216,235,253);" required="" name="cv"></div>
                                </div>
                                <div class="col" id="colLIbreta">
                                    <div><label class="form-label"><strong>Libreta Militar(.pdf):&nbsp;</strong></label><input class="form-control" type="file" style="background: rgb(216,235,253);" name="libreta_militar"></div>
                                </div>
                            </div>
                            <div class="row" id="fila4">
                                <div class="col" id="colFoto">
                                    <div><label class="form-label"><strong>Fotografía (.jpg o .png) *</strong></label><input class="form-control" type="file" style="background: rgb(216,235,253);" required="" name="foto"></div>
                                </div>
                                <div class="col" id="colPension">
                                    <div><label class="form-label"><strong>Certificado de pensión(.pdf):</strong></label><input class="form-control" type="file" style="background: rgb(216,235,253);" name="certificado_pension"></div>
                                </div>
                                <div class="col" id="colEPS">
                                    <div><label class="form-label"><strong>Certificado de EPS(.pfd):</strong></label><input class="form-control" type="file" style="background: rgb(216,235,253);" name="certificado_eps"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div id="botonesFormulario"><button class="btn btn-success" type="submit" style="margin-right: 40px;">Confirmar</button><button class="btn btn-danger" type="reset">Limpiar</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>