<div class="container" id="contenedorPrincipal" style="padding-left: 0px;margin-left: 0px;width: 130%;padding-right: 0px;padding-top: 0px;margin-top: 0px;margin-right: -1px;max-width: 100%;">
        <div class="row" style="width: 100%;height: 110px;">
            <div class="col-3 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1" style="width: 100.5px;padding-right: 0px;padding-left: 0px;background: #484850;"><img width="95" height="99" src="assets/img/RRHH%20App.png" style="width: 100%;"></div>
            <div class="col" id="tituloPagina" style="padding-left: 0px;background: #484850;padding-right: 0px;margin-right: 0px;width: 120%;">
                <h1 id="tituloCandidatos"><span style="color: rgb(255, 255, 255);">CERTIFICADOS</span></h1>
            </div>
        </div>
        <div class="row" style="padding-bottom: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;width: 100%;height: 100%;">
            <div class="col-3 col-sm-2 col-md-1 col-lg-1 col-xl-1 col-xxl-1 offset-lg-0" id="barraMenu" style="background: #484850;border-style: none;color: rgb(255,255,255);padding: 0px;height: 100%;min-height: 100%;max-height: 100%;margin-bottom: 0px;padding-bottom: 0px;width: 100.5px;">
                <div><a id="botonSalir-1" href="listaHojasVidaCandidato.html" style="width: auto;color: rgb(255,255,255);"><i class="typcn typcn-arrow-back" style="font-size: 93px;padding-left: 0px;"></i></a></div>
                <div id="logo" style="background: rgba(255,255,255,0);height: auto;width: 100%;">
                    <div id="iconoPerfil" style="padding-left: 6px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" id="perfilCorbata" style="font-size: 49px;">
                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path d="M352 128C352 198.7 294.7 256 224 256C153.3 256 96 198.7 96 128C96 57.31 153.3 0 224 0C294.7 0 352 57.31 352 128zM209.1 359.2L176 304H272L238.9 359.2L272.2 483.1L311.7 321.9C388.9 333.9 448 400.7 448 481.3C448 498.2 434.2 512 417.3 512H30.72C13.75 512 0 498.2 0 481.3C0 400.7 59.09 333.9 136.3 321.9L175.8 483.1L209.1 359.2z"></path>
                        </svg><button class="btn btn-primary" id="botonPerfil" type="button" style="width: 90%;height: 30px;font-size: 12px;">Perfil</button><button class="btn btn-primary" id="botonSalir-2" type="button" style="width: 90%;height: 30px;font-size: 12px;"><a id="linkSalir" href="login.html" rel="prev" style="color: var(--bs-btn-color);text-decoration: underline;">Salir</a></button></div>
                </div>
            </div>
            <div class="col-7 col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xxl-11 offset-lg-3" id="ColumnaPrincipal" style="margin-left: 0px;padding-left: 0px;padding-right: 0px;margin-right: 0px;padding-bottom: 0px;margin-bottom: 0px;">
                <a href = "/download" class="btn btn-success">Generar Certificado</a>   
                <form style="margin-top: 50px;margin-left: 100px;" method="POST" action="/certificados">
                    <div class="card" style="padding-left: 22px;margin-left: 19px;width: 1000px;">
                        <div class="card-body" style="padding-left: 0px;margin-left: 10px;padding-right: 0px;margin-right: 10px;">
                            <h6><span style="color: rgb(1, 120, 239);">Complete los campos requeridos*</span></h6>
                            <div class="row" id="fila1">
                                <div class="col" id="colFoto">
                                    <div><img style="width: 250px;height: 250px;margin: 10px;" width="250" height="242"></div>
                                </div>
                                <div class="col align-items-center align-items-stretch" id="col2">
                                    <div class="row" id="rowSalario">
                                        <div class="col" id="colSalario">
                                            <div><label class="form-label"><strong>Nombre: *</strong></label><input class="form-control" type="text" placeholder="Nombre completo" required=""></div>
                                        </div>
                                    </div>
                                    <div class="row" id="rowDeduccion">
                                        <div class="col" id="colDeduccion" style="margin-top: 30px;">
                                            <div><label class="form-label"><strong>Tipo de certificado:</strong>&nbsp;*<select class="form-select" style="width: 190%;" required= "">
                                                        <optgroup label="This is a group">
                                                            <option value="12" selected="">This is item 1</option>
                                                            <option value="13">This is item 2</option>
                                                            <option value="14">This is item 3</option>
                                                        </optgroup>
                                                    </select></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" id="col3">
                                    <div class="row">
                                        <div class="col">
                                            <div><label class="form-label"><strong>No. de documento: *</strong></label><input class="form-control" type="text" placeholder="1007007007" required=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div id="botonesFormulario"><button class="btn btn-success" type="submit" style="margin-right: 40px;">Guardar</button><button class="btn btn-danger" type="reset">Finalizar cambios</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>